.header {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    

    
}

h2{
  text-align: center;
  margin-top: 7px;
  color: white;
  
  
}


.Footer{
  margin-top: 450px;
  justify-content: space-between;
 /* margin-left: 60px;*/
}

