
body{
    background-image: url(imagem/folha.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-weight: 800;
    font-style: oblique;
    margin-top: 0;
 }

 .cabeçalho{
     background-color: rgb(214, 207, 207);
     height: 95px;  
     margin-bottom: 0%;
     width: 100% ;
    
    
 }
 .logo{
     float: left;
   
 }
     
  .teto {
    float: right;
    width: 25%;
  }

h1{
    text-align: center;
  
} 
h2 {
    border-width: 2px; /* aqui, cada lado possui uma borda de largura diferente */
    border-style: solid; /* estilos de borda diferentes para cima-baixo e esquerda-direita */
    border-color: black; /* uma cor de borda para cada lado */
    background: rgb(204, 199, 199);
    padding: 20px;
    width: 40%;
    position: relative;
    float: left;
    margin-top: 30px;
    transition: all 0.4s  ease-in-out;
    border-left: 4px solid #000;
    border-bottom: 4px solid #000;
    z-index:-1;
    margin-bottom:-4px;
    margin-left: -4px;
    
}


:hover{
    transform: translateY(-4px);
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}



ul{
    text-align: 40px;
}

 p{
     float: right;
     color: black;
 }

 button{
    cursor: pointer;

 }

 input{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
 }
 
h3{
    border-width: 2px;
    border-style: solid; /* estilos de borda diferentes para cima-baixo e esquerda-direita */
    border-color: red; /* uma cor de borda para cada lado */
    background: rgb(204, 199, 199);
    padding: 20px;
    width: 97%;
    float: center;
    margin-top: 30px;
    transition: all 0.4s  ease-in-out;
    border-left: 4px solid #000;
    border-bottom: 4px solid #000;
    z-index:-1;
    margin-bottom:-4px;
    margin-left: -4px;
    text-align: center;
}

 .container {
     background-color: gray;
     width: 500px;
     height: 400px;
     box-sizing: border-box;
     padding: 20px;
     box-shadow: black;
 }

 .item{
    height: 250px;
    width: 200px;
    color: black;
    background: gray;
    margin: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    display: inline-block;
    vertical-align: top;

    
}

